@using ControleContatos.Enums
@model UsuarioModel


@{

    ViewData["Title"] = "Cadastrar Usuario";
}

<div class="text-center">


    <h1 class="display-4">Cadastrar Usuario</h1>

</div> 

<form asp-controller="Usuario" asp-action="Criar" method="post">

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do usuario">
    @Html.ValidationMessageFor(x => x.Nome)
  </div>
  <br />
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email do usuario">
    @Html.ValidationMessageFor(x => x.Email)
  </div>
  <br />
  <div class="form-group">
    <label for="">Login</label>
    <input type="text" asp-for="Login" class="form-control" placeholder="Digite o Login do usuario">
    @Html.ValidationMessageFor(x => x.Login)
  </div>
  <br />
  <div class="form-group">
    <label for="">Perfil</label>
  <select asp-for="Perfil" class="form-control">
      <option value="">Selecione</option>
      <option value="@PerfilEnum.Admin">Administrador</option>
      <option value="@PerfilEnum.Padrao">Padrao</option>
  </select>
  @Html.ValidationMessageFor(x => x.Perfil)
</div>
  <br />
  <div class="form-group">
    <label for="">Senha</label>
    <input type="password" asp-for="Senha" class="form-control" placeholder="Digite a Senha do usuario">
    @Html.ValidationMessageFor(x => x.Senha)
    <br />
  <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
  <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Usuario" role="button">Voltar</a>
</form>

